.button {
    --button-decoration-width: 20px;
    --button-padding-x: 12px;
    border: 0;
    border-radius: 7px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    padding-left: var(--button-decoration-width);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

    &__content {
        display: block;
        padding: 6px var(--button-padding-x);
        background: #fff;
    }

    &__decoration {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: var(--button-decoration-width);
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &--before {
            left: 0;
            background-color: var(--color-secondary);
        }
        &--after {
            right: 0;
            background-color: var(--color-primary);
            width: 0;
        }
    }

    &:hover {
        padding-left: 0;
        padding-right: var(--button-decoration-width);

        .button__decoration {
            &--before {
                width: 0px;
            }
            &--after {
                width: var(--button-decoration-width);
            }
        }
    }
}